In [2]:
# Tipos de variáveis - string
a= "guilherme"
b= a + " gente fina"
print(b)

guilherme gente fina

In [4]:
# Tipos de variáveis - inteira

c= 1
d= c+10
print(d)
print(type(d))

11
<class 'int'>

In [11]:
#Tipos de variáveis - float

f= 10.5
g= f*2
h= f**2
print("valor de g = " +str(g) + " e o valor de h = " +str(h))
print(type(f))
f= int(f)
print(' o valor de f= ' +str(f)+ "do tipo = " +str(type(f)))

valor de g = 21.0 e o valor de h = 110.25
<class 'float'>
 o valor de f= 10do tipo = <class 'int'>

In [14]:
# Exemplo dicionário 

dicionario = {
    'alunos': ['Guilherme', 'Flávia' , 'Lucas'],
    'notas' : [3, 6, 6]
}
print(dicionario["alunos"])
print(dicionario["notas"])
print(type(dicionario['notas']))

['Guilherme', 'Flávia', 'Lucas']
[3, 6, 6]
<class 'list'>

In [23]:
# treinando loop

for ii,aluno in enumerate (dicionario ['alunos']):
    if aluno == 'Guilherme':
        print(str(ii) + ' ' + aluno + 'nota = 10')
    else:
        print(str(ii) + ' '+ aluno + ' nota = ' + str(dicionario['notas'] [ii]))

0 Guilhermenota = 10
1 Flávia nota = 6
2 Lucas nota = 6

In [32]:
# Operações Lógicas
a = 1
b= 3
c = 1

print (a==b) # Igual a =- operaçõo lógica
print (a==c)
print (a>b)
print (a<b)
print (a!=b) #DIFERENTE
print (a!=c)

opTF = a!=c
print(type(opTF))

OPT = True
opF = False

False
True
False
True
True
False
<class 'bool'>

In [33]:
# treinando loop com condição

for ii,aluno in enumerate (dicionario ['alunos']):
    if (aluno == 'Guilherme') and (dicionario ['notas'] [ii] <=9):
        print(str(ii) + ' ' + aluno + 'nota = 10')
    else:
        print(str(ii) + ' '+ aluno + ' nota = ' + str(dicionario['notas'] [ii]))

0 Guilhermenota = 10
1 Flávia nota = 6
2 Lucas nota = 6

In [37]:
#Treinando numpy

import numpy as np
mat = np.array(dicionario['alunos'])
print(mat)
print(type(mat))

print(' ')
mat2 = np.array(dicionario['alunos']=='Lucas')
print(mat2)

# Local da matriz com valor verdadeiro
print(np.where(mat2))

print("")
dicionario ['notas'][int(np.where(mat2)[0])] = 9.5

['Guilherme' 'Flávia' 'Lucas']
<class 'numpy.ndarray'>

False
(array([], dtype=int64),)

C:\Users\sergi\AppData\Local\Temp\ipykernel_17552\969162086.py:13: DeprecationWarning: Calling nonzero on 0d arrays is deprecated, as it behaves surprisingly. Use `atleast_1d(cond).nonzero()` if the old behavior was intended. If the context of this warning is of the form `arr[nonzero(cond)]`, just use `arr[cond]`.
  print(np.where(mat2))
C:\Users\sergi\AppData\Local\Temp\ipykernel_17552\969162086.py:16: DeprecationWarning: Calling nonzero on 0d arrays is deprecated, as it behaves surprisingly. Use `atleast_1d(cond).nonzero()` if the old behavior was intended. If the context of this warning is of the form `arr[nonzero(cond)]`, just use `arr[cond]`.
  dicionario ['notas'][int(np.where(mat2)[0])] = 9.5

TypeError: only length-1 arrays can be converted to Python scalars

In [40]:
#Matriz numpy

vec = np.random.rand(100)
print(vec)
vec2 = np.sin(vec)
print(vec2)

[0.19965229 0.58085484 0.95829264 0.27517861 0.19879794 0.95209515
 0.86792675 0.01335643 0.08447186 0.92236319 0.57215143 0.95392023
 0.88957993 0.46495606 0.00432537 0.98767768 0.78404768 0.32061566
 0.06557134 0.14357645 0.86885381 0.94926279 0.93627759 0.9272672
 0.14035318 0.88436662 0.01589309 0.88412582 0.21566914 0.44671082
 0.75635565 0.98685166 0.27347359 0.56726798 0.73071532 0.67365985
 0.35558305 0.29122779 0.26436057 0.87337296 0.67306815 0.58779358
 0.4628729  0.27394318 0.39205689 0.28239779 0.5686928  0.44401497
 0.28052806 0.0314098  0.8180612  0.39420045 0.45482854 0.0737937
 0.64089884 0.49003679 0.58446461 0.00494842 0.58084181 0.56511575
 0.36470917 0.39732044 0.48991143 0.65096149 0.62676815 0.75024531
 0.2188563  0.95618992 0.17071058 0.32225203 0.90840671 0.25611872
 0.34874036 0.67948155 0.14251459 0.22694601 0.87321943 0.59927072
 0.82949413 0.08577446 0.15837107 0.1912873  0.21527339 0.23289644
 0.78521876 0.2124906  0.8500142  0.2766121  0.58305329 0.28856193
 0.58157834 0.06442689 0.09370641 0.90081698 0.8845689  0.67885341
 0.27197332 0.76128975 0.58963855 0.25549336]
[0.19832853 0.54873878 0.81821117 0.27171883 0.19749109 0.81463243
 0.76299041 0.01335604 0.08437144 0.79703107 0.54144209 0.81568958
 0.77680728 0.44838352 0.00432536 0.83474949 0.7061512  0.31515091
 0.06552437 0.14308367 0.76358934 0.81298646 0.80535708 0.79998319
 0.13989283 0.77351372 0.01589242 0.77336108 0.21400111 0.43200146
 0.68627532 0.83429437 0.27007757 0.53732995 0.6674025  0.62385049
 0.348137   0.28712853 0.2612921  0.76649956 0.62338794 0.55452627
 0.44652054 0.27052967 0.38209004 0.27865926 0.53853105 0.42956858
 0.27686311 0.03140464 0.72982177 0.38407008 0.43930829 0.07372674
 0.59791616 0.47065835 0.55175294 0.0049484  0.54872788 0.53551357
 0.35667761 0.38694891 0.47054773 0.60595156 0.58653026 0.68181823
 0.21711335 0.81700047 0.16988264 0.31670347 0.78852486 0.2533278
 0.34171426 0.6283898  0.14203266 0.2250029  0.76640095 0.56404042
 0.73758988 0.08566932 0.15770987 0.19012287 0.21361452 0.23079673
 0.70697992 0.21089514 0.75128977 0.27309811 0.55057534 0.28457391
 0.54934348 0.06438233 0.09356933 0.78383449 0.77364191 0.62790105
 0.26863274 0.68985573 0.55606064 0.25272278]

In [41]:
#Date time

from datetime import datetime, timedelta

#Data inicial
start_date = datetime(2024, 1, 1)

#armezenar
date_vetor = []

#GERAR datas para todos
print(vec.shape[0])
for i in range90,vec.shape[0]):
    date_vetor.append(start_date+ timedelta(days=1))

# Exibir
for date in date_vetor:
    print(date.strftime( '%Y-%m- %d'))

SyntaxError: unmatched ')' (2287540499.py, line 13)